<!-- <cc-custom-datetimepicker [defaultDate]="'abcd'"></cc-custom-datetimepicker> -->

<div class="calendar-container">
    <div class="calendar-header-wrapper">
        <div class="day">{{days[selectedDay]}}</div>
        <div class="month">{{months[selectedMonth].slice(0, 3)}}</div>
        <div class="date">{{appendZeroToSingleDigit(selectedDate)}}</div>
        <div class="year">{{selectedYear}}</div>
    </div>
    <div class="calendar-controls-wrapper">
        <div class="btn-control-wrapper" (click)="previous()">
            <span class="btn-control previous">&#8227;</span>
        </div>
        <span class="selceted-month-year">{{months[currentMonth]}} {{currentYear}}</span>
        <div class="btn-control-wrapper" (click)="next()">
            <span class="btn-control">&#8227;</span>
        </div>
    </div>
    <div #CalendarWrapper></div>
</div>
<router-outlet></router-outlet>